/CinePix_Cinema_Kvs/CinePix_Cinema/nbproject/private/
/CinePix_Cinema_Kvs/CinePix_Cinema/build/
/CinePix_Cinema_Kvs/CinePix_Cinema/web/PayPal - Updated Files/PayPal/build/
/CinePix_Cinema_Kvs/CinePix_Cinema/web/PayPal - Updated Files/PayPal/nbproject/private/
/CinePix_Cinema_Kvs/CinePix_Cinema/web/Sending Email - Updated Files/SendingEmail/build/
/CinePix_Cinema_Kvs/CinePix_Cinema/web/Sending Email - Updated Files/SendingEmail/nbproject/private/