body{
    background-color: #000025;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

h2{
    text-align: left;
}

.Regi{
    width: 80px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.1px;
    background: #ffff00;
    border-radius: 0.5rem;
    color: black;
    border: 0;  
    margin-right: 50px;
}

.Regi:hover{
    background: #ff9e1f;
}

.rst{
    width: 80px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.1px;
    background: #ffff00;
    border-radius: 0.5rem;
    color: black;
    border: 0;
}

.rst:hover{
    background: #ff9e1f;
}

